In [2]:
import pandas as pd

In [3]:
dataset= pd.read_csv("quikr_car.csv")

In [4]:
dataset

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [6]:
dataset['company'].unique()

array(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'I', 'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat',
       'Commercial', 'MARUTI', 'Force', 'Mercedes', 'Land', 'Yamaha',
       'selling', 'URJENT', 'Swift', 'Used', 'Jaguar', 'Jeep', 'tata',
       'Sale', 'very', 'Volvo', 'i', '2012', 'Well', 'all', '7', '9',
       'scratch', 'urgent', 'sell', 'TATA', 'Any', 'Tara'], dtype=object)

In [7]:
dataset.shape

(892, 6)

## Quality
- year has many non-year values
- year object to int
- price has ask for price data
- price object to int
- kms_driven has kms with integer
- kms_driven obj to int
- kms has nan values
- fuel has nan values
- keep first 3 words of name

# CLEANING

In [30]:
car_data = dataset.copy()

In [31]:
car_data

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [32]:
car_data=car_data[car_data['year'].str.isnumeric()]

In [33]:
car_data['year']=car_data['year'].astype(int)

C:\Users\Admin\AppData\Local\Temp\ipykernel_10368\4032352964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_data['year']=car_data['year'].astype(int)

In [34]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [35]:
car_data['Price'].value_counts()

Ask For Price    23
2,50,000         16
3,50,000         12
4,00,000         11
1,80,000         11
                 ..
7,49,999          1
11,30,000         1
10,74,999         1
3,24,999          1
5,00,001          1
Name: Price, Length: 273, dtype: int64

In [37]:
car_data=car_data[car_data['Price']!="Ask For Price"]

In [38]:
car_data

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
6,Ford Figo,Ford,2012,"1,75,000","41,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [39]:
car_data['Price'].value_counts()

2,50,000     16
3,50,000     12
4,00,000     11
1,80,000     11
1,30,000     11
             ..
7,49,999      1
11,30,000     1
10,74,999     1
3,24,999      1
5,00,001      1
Name: Price, Length: 272, dtype: int64

In [41]:
car_data['Price']=car_data['Price'].str.replace(',','').astype(int)

In [43]:
car_data['Price'].info()

<class 'pandas.core.series.Series'>
Int64Index: 819 entries, 0 to 891
Series name: Price
Non-Null Count  Dtype
--------------  -----
819 non-null    int32
dtypes: int32(1)
memory usage: 9.6 KB

In [54]:
car_data['kms_driven']=car_data['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [58]:
car_data=car_data[car_data['kms_driven'].str.isnumeric()]

In [60]:
car_data['kms_driven'].value_counts()

45000     30
35000     29
55000     25
50000     23
20000     21
          ..
131000     1
111111     1
25500      1
44005      1
132000     1
Name: kms_driven, Length: 249, dtype: int64

In [62]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.3+ KB

In [64]:
car_data['kms_driven']=car_data['kms_driven'].astype(int)

C:\Users\Admin\AppData\Local\Temp\ipykernel_10368\2832973140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_data['kms_driven']=car_data['kms_driven'].astype(int)

In [65]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [78]:
car_data=car_data[~car_data['fuel_type'].isna()]

In [81]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [88]:
car_data['name']=car_data['name'].str.split(' ').str.slice(0,3).str.join(' ')

C:\Users\Admin\AppData\Local\Temp\ipykernel_10368\3468351687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_data['name']=car_data['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [92]:
car_data=car_data.reset_index(drop=True)

In [93]:
car_data

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [94]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [100]:
# remove outlier
car_data=car_data[car_data['Price']<6e6].reset_index(drop=True)

In [101]:
car_data

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [102]:
car_data.to_csv("quikr_car_cleaned.csv")

# Machine Learning

In [103]:
X=car_data.drop(columns='Price')
y=car_data['Price']

In [104]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [105]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int32

In [106]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [108]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder

In [109]:
ohe= OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [112]:
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [118]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [119]:
lr=LinearRegression()

In [120]:
pipe=make_pipeline(column_trans,lr)

In [121]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [122]:
y_predict=pipe.predict(X_test)

In [123]:
y_predict

array([ 104007.3935219 , 2054548.31978606,  422369.14682751,
        336958.36617593,  155600.63045963,  164131.44410637,
        428136.95467579,  542795.95648637,  415796.33818481,
       1173874.43957835,  433090.54583886,  195171.0802161 ,
        670841.29920636,  523870.38310225,  636757.04776764,
        201907.22622453,  153027.47089425,  216578.81172625,
        -12148.32326335,  298215.08619107,  -43746.24161261,
         66587.73894877, 1143934.39460104,  436051.5201945 ,
        706028.70728738,  206061.11909854,  281459.39960793,
        263209.07513005,  323383.008605  ,  524234.85478301,
        142889.43094732,  444812.00428569,  497699.82076624,
        254854.26631339,  401960.06337807,  499415.7951844 ,
        650947.06805677,  560054.03520069,  305206.84010352,
        262034.34367539,  291335.99995912,  348087.65099143,
        273948.47992886,   82245.84621944,  274742.74291294,
          8798.11346524,  216237.45693302,  427816.37813987,
        131773.14427468,  191454.25964899,  568299.66401767,
        792624.96650657,  551345.76566301,  449903.96743016,
       1146254.41166864,   29549.1042622 ,  325157.38253509,
        284775.433672  ,  361532.59986328,  276043.57633977,
        476997.78117385,  608634.40350765,  238162.08718058,
        148757.87275051,  292697.7700249 , 1468052.82178415,
        219901.4215797 ,  515235.55005591,  344393.44234357,
       -160797.00970882,  587011.41256407,  362293.99920547,
        466229.94735751,  182141.30423855, 2054278.48125336,
        591922.26967124,  564575.89226644,  434243.35287932,
        242046.33808987,  515140.25722139,  -26497.98391145,
        287377.00908736,  449209.29174143,  461698.37280493,
        613146.97013689,  515775.22712131,  367228.16232421,
        426439.01860741,   81741.22664783,  292203.00020257,
        495141.35515761,  297891.27995183,  423449.8115714 ,
        -20924.51614516,  292611.87662171,  186971.97772758,
        217934.01453725,  697272.94216319,  257967.16388339,
       1919557.84608378,  538882.98416848,  281059.26003946,
        543425.59562825, 2054548.31978606,  108254.98885152,
        493215.64681241, -100978.27913425,  244744.72341685,
       -110614.93990334,  595312.33826192,  371357.8864666 ,
        198608.796106  ,  266647.586932  ,  259126.60985026,
        294552.70598842,  356135.82920933,  287823.16744824,
        443606.99911005,  149571.24956787,  770233.66815829,
        648180.46793742,   75298.93413349, 2054548.31978606,
        600422.4335421 ,  187120.60757327,  563449.44310562,
        430486.30459441,   39592.82759073,  201789.84150995,
        333560.08878057, 1004311.72143079,  617308.5272286 ,
        106157.02443559,  519265.53534406,   90723.91387111,
        313672.73744135,  615224.88105778,  389644.48058596,
        298895.41122849,  456908.29272943,  262380.52904876,
        421879.25770977,   99285.13652289,  657167.36708736,
        343956.27256519,  688699.60433531,  532749.25384372,
        283211.65493409,  505856.409198  ,  343483.58878053,
        421879.25770977,  -22627.72748496,  518819.10717513,
        428748.58775432,  566856.76446423,  310554.25665464,
        575581.12852786,  363223.29689417,  317601.90361955,
        205185.7295686 ,  408068.77771904,  262650.56414943,
         69507.69401938])

In [125]:
r2_score(y_test,y_predict)

0.751272257647855

In [126]:
import pickle

In [127]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [128]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']], columns=['name','company','year','kms_driven','fuel_type']))

array([449772.04634863])